{% extends "layout-Navbar.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/equipo.css')}}">
{% endblock %}

{% block body %}
<div class="body">
  <div class="container">
    <div class="row">
      {% for i in range(CantIntegrantes)%}
      <div class="mt-2 col-sm-3">
        <div class="card p-1">
          <img class="card-img-top" src="{{url_for('static', filename='img/'+listaEquipo[i][0]+'.png')}}" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{listaEquipo[i][1]}}</h5>
            <p class="card-text">{{listaEquipo[i][2]}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
