{% extends "layout-General.html" %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fas fa-recycle fa-3x"></i></a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
          <a class="nav-link" href="/"><i class=" p-2 fas fa-home"></i>Inicio</a>
          <a class="nav-link" href="/equipo"><i class="p-2 fas fa-users"></i>Equipo</a>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
