{% extends "layout-Profile.html" %}

{% block tareas %}

<label class="list-group-item d-flex mb-2 list-group-item-action">

  {% if listaTareas[0] == 0 %}
  <input type="checkbox" class="form-check-input me-1" name="tarea 1" onclick="document.location.href='/checked/1';">
  {% endif %}

  {% if listaTareas[0] == 1 %}
  <input type="checkbox" class="form-check-input me-1" name="tarea 1" onclick="document.location.href='/checked/1';" checked disabled>
  {% endif %}

  {% if NivelesOrdenadosPorMenor[0] == nivelAlimento %}
  <p class="p-1">Tarea 1 nivel 3 Más bajo alimento</p>
  {% endif %}

  {% if NivelesOrdenadosPorMenor[0] == nivelTrasporte %}
  <p class="p-1">Tarea 1 nivel 3 Más bajo transporte</p>
  {% endif %}

  {% if NivelesOrdenadosPorMenor[0] == nivelReciclaje%}
  <p class="p-1">Tarea 1 nivel 3 Más bajo reciclaje</p>
  {% endif %}

  {% if NivelesOrdenadosPorMenor[0] == nivelConsumo %}
  <p class="p-1">Tarea 1 nivel 3 Más bajo consumo</p>
  {% endif %}

  {% if NivelesOrdenadosPorMenor[0] == nivelRecursos %}
  <p class="p-1">Tarea 1 nivel 3 Más bajo recursos</p>
  {% endif %}
</label>


<label class="list-group-item d-flex mb-2 list-group-item-action">

  {% if listaTareas[1] == 0 %}
  <input type="checkbox" class="form-check-input me-1" name="tarea 1" onclick="document.location.href='/checked/2';">
  {% endif %}

  {% if listaTareas[1] == 1 %}
  <input type="checkbox" class="form-check-input me-1" name="tarea 1" onclick="document.location.href='/checked/2';" checked disabled>
  {% endif %}

  {% if NivelesOrdenadosPorMenor[1] == nivelAlimento %}
  <p class="p-1">Tarea 2 nivel 3 Más bajo alimento</p>
  {% endif %}

  {% if NivelesOrdenadosPorMenor[1] == nivelTrasporte %}
  <p class="p-1">Tarea 2 nivel 3 Más bajo transporte</p>
  {% endif %}

  {% if NivelesOrdenadosPorMenor[1] == nivelReciclaje%}
  <p class="p-1">Tarea 2 nivel 3 Más bajo reciclaje</p>
  {% endif %}

  {% if NivelesOrdenadosPorMenor[1] == nivelConsumo %}
  <p class="p-1">Tarea 2 nivel 3 Más bajo consumo</p>
  {% endif %}

  {% if NivelesOrdenadosPorMenor[1] == nivelRecursos %}
  <p class="p-1">Tarea 2 nivel 3 Más bajo recursos</p>
  {% endif %}
</label>

<label class="list-group-item d-flex mb-2 list-group-item-action">

  {% if listaTareas[2] == 0 %}
  <input type="checkbox" class="form-check-input me-1" name="tarea 1" onclick="document.location.href='/checked/3';">
  {% endif %}

  {% if listaTareas[2] == 1 %}
  <input type="checkbox" class="form-check-input me-1" name="tarea 1" onclick="document.location.href='/checked/3';" checked disabled>
  {% endif %}

  {% if NivelesOrdenadosPorMenor[2] == nivelAlimento %}
  <p class="p-1">Tarea 3 nivel 3 Más bajo alimento</p>
  {% endif %}

  {% if NivelesOrdenadosPorMenor[2] == nivelTrasporte %}
  <p class="p-1">Tarea 3 nivel 3 Más bajo transporte</p>
  {% endif %}

  {% if NivelesOrdenadosPorMenor[2] == nivelReciclaje%}
  <p class="p-1">Tarea 3 nivel 3 Más bajo reciclaje</p>
  {% endif %}

  {% if NivelesOrdenadosPorMenor[2] == nivelConsumo %}
  <p class="p-1">Tarea 3 nivel 3 Más bajo consumo</p>
  {% endif %}

  {% if NivelesOrdenadosPorMenor[2] == nivelRecursos %}
  <p class="p-1">Tarea 3 nivel 3 Más bajo recursos</p>
  {% endif %}
</label>

<label class="list-group-item d-flex mb-2 list-group-item-action">

  {% if listaTareas[3] == 0 %}
  <input type="checkbox" class="form-check-input me-1" name="tarea 1" onclick="document.location.href='/checked/4';">
  {% endif %}

  {% if listaTareas[3] == 1 %}
  <input type="checkbox" class="form-check-input me-1" name="tarea 1" onclick="document.location.href='/checked/4';" checked disabled>
  {% endif %}

  <p class="p-1">Tarea 4 nivel 3</p>
</label>

{% endblock %}
