{% extends "layout-Profile.html" %}

{% block tareas %}

<label class="list-group-item d-flex mb-2 list-group-item-action">

  {% if listaTareas[0] == 0 %}
  <input type="checkbox" class="form-check-input me-1" name="tarea 1" onclick="document.location.href='/checked/1';">
  {% endif %}

  {% if listaTareas[0] == 1 %}
  <input type="checkbox" class="form-check-input me-1" name="tarea 1" onclick="document.location.href='/checked/1';" checked disabled>
  {% endif %}

  {% if keyTresTareaMenores[0] == 'NivelAlimento' %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[0]] == 1 %}
    <p class="p-1">Consumir en tu dieta almenos entre un cuarto y la mitad en productos locales no procesados</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[0]] == 2 %}
    <p class="p-1">Consumir en tu dieta almenos entre la mitad y tres cuartos en productos no procesados</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[0]] == 3 %}
    <p class="p-1">Consumir en tu dieta tres cuartos de productos no procesados</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[0]] == 4 %}
    <p class="p-1">Consumir en tu dieta la mitad en productos no procesados </p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[0]] == 5 %}
    <p class="p-1"></p>
    {% endif %}
  {% endif %}

  {% if keyTresTareaMenores[0] == 'NivelTrasporte' %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[0]] == 1 %}
    <p class="p-1">Viajar en auto con un acompañante donde viajaran al mismo destino</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[0]] == 2 %}
    <p class="p-1">Usar transporte público</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[0]] == 3 %}
    <p class="p-1">Viajar en vehículos eléctricos (Bicicleta, Automóvil, etc)</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[0]] == 4 %}
    <p class="p-1">Usar vehículos de tracción humana o caminata (Bicicleta, Patines, etc.)</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[0]] == 5 %}
    <p class="p-1"></p>
    {% endif %}
  {% endif %}

  {% if keyTresTareaMenores[0] == 'NivelReciclaje' %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[0]] == 1 %}
    <p class="p-1">Reciclar entre 1 o 2 de los siguientes materiales: latas, aluminio, papel y cartón</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[0]] == 2 %}
    <p class="p-1">Reciclar los 3 materiales siguientes: latas, aluminio, papel y cartón</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[0]] == 3 %}
    <p class="p-1">Reciclar los 4 materiales siguientes: latas, aluminio, papel y cartón</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[0]] == 4 %}
    <p class="p-1">Recilar 5 de los siguientes materiales:latas, aluminio, papel, cartón, plástico y vidrio</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[0]] == 5 %}
    <p class="p-1">Recicljar la totalidad de los siguientes materiales: latas, aluminio, papel, cartón, plástico y vidrio</p>
    {% endif %}
  {% endif %}

  {% if keyTresTareaMenores[0] == 'NivelConsumo' %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[0]] == 1 %}
    <p class="p-1">Utilizar ocasionalmente plásticos de un solo uso (ej: Cubiertos de plástico desechables, bolsas y envases plásticos desechables, etc.)</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[0]] == 2 %}
    <p class="p-1">Utilizar pocas veces plásticos de un solo uso (ej: Cubiertos de plástico desechables, bolsas y envases plásticos desechables, etc.)</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[0]] == 3 %}
    <p class="p-1">Nunca usar plásticos de un solo uso (ej: Cubiertos de plástico desechables, bolsas y envases plásticos desechables, etc.)</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[0]] == 4 %}
    <p class="p-1">Comprar pocas cosas pero que sean duraderos</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[0]] == 5 %}
    <p class="p-1"></p>
    {% endif %}
  {% endif %}

  {% if keyTresTareaMenores[0] == 'NivelRecursos' %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[0]] == 1 %}
    <p class="p-1">Intenta no derrochar electricidad (ej: Mantener las luces y/o televisor apagadas, etc)</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[0]] == 2 %}
    <p class="p-1">Intenta no derrochar agua (ej: Rejar de noche o en las tardes, Duchas cortas, etc)</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[0]] == 3 %}
    <p class="p-1">Comprar productos electricos más eficientes</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[0]] == 4 %}
    <p class="p-1">Reutilizar el agua</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[0]] == 5 %}
    <p class="p-1"></p>
    {% endif %}
  {% endif %}
</label>


<label class="list-group-item d-flex mb-2 list-group-item-action">
  {% if listaTareas[1] == 0 %}
  <input type="checkbox" class="form-check-input me-1" name="tarea 1" onclick="document.location.href='/checked/2';">
  {% endif %}

  {% if listaTareas[1] == 1 %}
  <input type="checkbox" class="form-check-input me-1" name="tarea 1" onclick="document.location.href='/checked/2';" checked disabled>
  {% endif %}
  {% if keyTresTareaMenores[1] == 'NivelAlimento' %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[1]] == 1 %}
    <p class="p-1">Consumir en tu dieta almenos entre un cuarto y la mitad en productos locales no procesados</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[1]] == 2%}
    <p class="p-1">Consumir en tu dieta almenos entre la mitad y tres cuartos en productos no procesados</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[1]] == 3 %}
    <p class="p-1">Consumir en tu dieta tres cuartos de productos no procesados</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[1]] == 4 %}
    <p class="p-1">Consumir en tu dieta la mitad en productos no procesados </p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[1]] == 5 %}
    <p class="p-1"></p>
    {% endif %}
  {% endif %}

  {% if keyTresTareaMenores[1] == 'NivelTrasporte' %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[1]] == 1 %}
    <p class="p-1">Viajar en auto con un acompañante donde viajaran al mismo destino</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[1]] == 2 %}
    <p class="p-1">Usar transporte público</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[1]] == 3 %}
    <p class="p-1">Viajar en vehículos eléctricos (Bicicleta, Automóvil, etc)</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[1]] == 4 %}
    <p class="p-1">Usar vehículos de tracción humana o caminata (Bicicleta, Patines, etc.)</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[1]] == 5 %}
    <p class="p-1"></p>
    {% endif %}
  {% endif %}

  {% if keyTresTareaMenores[1] == 'NivelReciclaje' %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[1]] == 1 %}
    <p class="p-1">Reciclar entre 1 o 2 de los siguientes materiales: latas, aluminio, papel y cartón</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[1]] == 2 %}
    <p class="p-1">Reciclar los 3 materiales siguientes: latas, aluminio, papel y cartón</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[1]] == 3 %}
    <p class="p-1">Reciclar los 4 materiales siguientes: latas, aluminio, papel y cartón</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[1]] == 4 %}
    <p class="p-1">Recilar 5 de los siguientes materiales:latas, aluminio, papel, cartón, plástico y vidrio</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[1]] == 5 %}
    <p class="p-1">Recicljar la totalidad de los siguientes materiales: latas, aluminio, papel, cartón, plástico y vidrio</p>
    {% endif %}
  {% endif %}

  {% if keyTresTareaMenores[1] == 'NivelConsumo' %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[1]] == 1 %}
    <p class="p-1">Utilizar ocasionalmente plásticos de un solo uso (ej: Cubiertos de plástico desechables, bolsas y envases plásticos desechables, etc.)</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[1]] == 2 %}
    <p class="p-1">Utilizar pocas veces plásticos de un solo uso (ej: Cubiertos de plástico desechables, bolsas y envases plásticos desechables, etc.)</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[1]] == 3 %}
    <p class="p-1">Nunca usar plásticos de un solo uso (ej: Cubiertos de plástico desechables, bolsas y envases plásticos desechables, etc.)</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[1]] == 4 %}
    <p class="p-1">Comprar pocas cosas pero que sean duraderos</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[1]] == 5 %}
    <p class="p-1"></p>
    {% endif %}
  {% endif %}

  {% if keyTresTareaMenores[1] == 'NivelRecursos' %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[1]] == 1 %}
    <p class="p-1">Intenta no derrochar electricidad (ej: Mantener las luces y/o televisor apagadas, etc)</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[1]] == 2 %}
    <p class="p-1">Intenta no derrochar agua (ej: Rejar de noche o en las tardes, Duchas cortas, etc)</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[1]] == 3 %}
    <p class="p-1">Comprar productos electricos más eficientes</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[1]] == 4 %}
    <p class="p-1">Reutilizar el agua</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[1]] == 5 %}
    <p class="p-1"></p>
    {% endif %}
  {% endif %}
</label>

<label class="list-group-item d-flex mb-2 list-group-item-action">
  {% if listaTareas[2] == 0 %}
  <input type="checkbox" class="form-check-input me-1" name="tarea 1" onclick="document.location.href='/checked/3';">
  {% endif %}

  {% if listaTareas[2] == 1 %}
  <input type="checkbox" class="form-check-input me-1" name="tarea 1" onclick="document.location.href='/checked/3';" checked disabled>
  {% endif %}
  {% if keyTresTareaMenores[2] == 'NivelAlimento' %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[2]] == 1 %}
    <p class="p-1">Consumir en tu dieta almenos entre un cuarto y la mitad en productos locales no procesados</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[2]] == 2%}
    <p class="p-1">Consumir en tu dieta almenos entre la mitad y tres cuartos en productos no procesados</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[2]] == 3 %}
    <p class="p-1">Consumir en tu dieta tres cuartos de productos no procesados</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[2]] == 4 %}
    <p class="p-1">Consumir en tu dieta la mitad en productos no procesados </p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[2]] == 5 %}
    <p class="p-1"></p>
    {% endif %}
  {% endif %}

  {% if keyTresTareaMenores[2] == 'NivelTrasporte' %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[2]] == 1 %}
    <p class="p-1">Viajar en auto con un acompañante donde viajaran al mismo destino</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[2]] == 2 %}
    <p class="p-1">Usar transporte público</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[2]] == 3 %}
    <p class="p-1">Viajar en vehículos eléctricos (Bicicleta, Automóvil, etc)</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[2]] == 4 %}
    <p class="p-1">Usar vehículos de tracción humana o caminata (Bicicleta, Patines, etc.)</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[2]] == 5 %}
    <p class="p-1"></p>
    {% endif %}
  {% endif %}

  {% if keyTresTareaMenores[2] == 'NivelReciclaje' %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[2]] == 1 %}
    <p class="p-1">Reciclar entre 1 o 2 de los siguientes materiales: latas, aluminio, papel y cartón</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[2]] == 2 %}
    <p class="p-1">Reciclar los 3 materiales siguientes: latas, aluminio, papel y cartón</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[2]] == 3 %}
    <p class="p-1">Reciclar los 4 materiales siguientes: latas, aluminio, papel y cartón</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[2]] == 4 %}
    <p class="p-1">Recilar 5 de los siguientes materiales:latas, aluminio, papel, cartón, plástico y vidrio</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[2]] == 5 %}
    <p class="p-1">Recicljar la totalidad de los siguientes materiales: latas, aluminio, papel, cartón, plástico y vidrio</p>
    {% endif %}
  {% endif %}

  {% if keyTresTareaMenores[2] == 'NivelConsumo' %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[2]] == 1 %}
    <p class="p-1">Utilizar ocasionalmente plásticos de un solo uso (ej: Cubiertos de plástico desechables, bolsas y envases plásticos desechables, etc.)</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[2]] == 2 %}
    <p class="p-1">Utilizar pocas veces plásticos de un solo uso (ej: Cubiertos de plástico desechables, bolsas y envases plásticos desechables, etc.)</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[2]] == 3 %}
    <p class="p-1">Nunca usar plásticos de un solo uso (ej: Cubiertos de plástico desechables, bolsas y envases plásticos desechables, etc.)</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[2]] == 4 %}
    <p class="p-1">Comprar pocas cosas pero que sean duraderos</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[2]] == 5 %}
    <p class="p-1"></p>
    {% endif %}
  {% endif %}

  {% if keyTresTareaMenores[2] == 'NivelRecursos' %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[2]] == 1 %}
    <p class="p-1">Intenta no derrochar electricidad (ej: Mantener las luces y/o televisor apagadas, etc)</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[2]] == 2 %}
    <p class="p-1">Intenta no derrochar agua (ej: Rejar de noche o en las tardes, Duchas cortas, etc)</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[2]] == 3 %}
    <p class="p-1">Comprar productos electricos más eficientes</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[2]] == 4 %}
    <p class="p-1">Reutilizar el agua</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[2]] == 5 %}
    <p class="p-1"></p>
    {% endif %}
  {% endif %}
</label>

<label class="list-group-item d-flex mb-2 list-group-item-action">
  {% if listaTareas[3] == 0 %}
  <input type="checkbox" class="form-check-input me-1" name="tarea 1" onclick="document.location.href='/checked/4';">
  {% endif %}

  {% if listaTareas[3] == 1 %}
  <input type="checkbox" class="form-check-input me-1" name="tarea 1" onclick="document.location.href='/checked/4';" checked disabled>
  {% endif %}
  {% if keyTresTareaMenores[3] == 'NivelAlimento' %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[3]] == 1 %}
    <p class="p-1">Consumir en tu dieta almenos entre un cuarto y la mitad en productos locales no procesados</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[3]] == 2%}
    <p class="p-1">Consumir en tu dieta almenos entre la mitad y tres cuartos en productos no procesados</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[3]] == 3 %}
    <p class="p-1">Consumir en tu dieta tres cuartos de productos no procesados</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[3]] == 4 %}
    <p class="p-1">Consumir en tu dieta la mitad en productos no procesados </p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[3]] == 5 %}
    <p class="p-1"></p>
    {% endif %}
  {% endif %}

  {% if keyTresTareaMenores[3] == 'NivelTrasporte' %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[3]] == 1 %}
    <p class="p-1">Viajar en auto con un acompañante donde viajaran al mismo destino</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[3]] == 2 %}
    <p class="p-1">Usar transporte público</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[3]] == 3 %}
    <p class="p-1">Viajar en vehículos eléctricos (Bicicleta, Automóvil, etc)</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[3]] == 4 %}
    <p class="p-1">Usar vehículos de tracción humana o caminata (Bicicleta, Patines, etc.)</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[3]] == 5 %}
    <p class="p-1"></p>
    {% endif %}
  {% endif %}

  {% if keyTresTareaMenores[3] == 'NivelReciclaje' %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[3]] == 1 %}
    <p class="p-1">Reciclar entre 1 o 2 de los siguientes materiales: latas, aluminio, papel y cartón</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[3]] == 2 %}
    <p class="p-1">Reciclar los 3 materiales siguientes: latas, aluminio, papel y cartón</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[3]] == 3 %}
    <p class="p-1">Reciclar los 4 materiales siguientes: latas, aluminio, papel y cartón</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[3]] == 4 %}
    <p class="p-1">Recilar 5 de los siguientes materiales:latas, aluminio, papel, cartón, plástico y vidrio</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[3]] == 5 %}
    <p class="p-1">Recicljar la totalidad de los siguientes materiales: latas, aluminio, papel, cartón, plástico y vidrio</p>
    {% endif %}
  {% endif %}

  {% if keyTresTareaMenores[3] == 'NivelConsumo' %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[3]] == 1 %}
    <p class="p-1">Utilizar ocasionalmente plásticos de un solo uso (ej: Cubiertos de plástico desechables, bolsas y envases plásticos desechables, etc.)</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[3]] == 2 %}
    <p class="p-1">Utilizar pocas veces plásticos de un solo uso (ej: Cubiertos de plástico desechables, bolsas y envases plásticos desechables, etc.)</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[3]] == 3 %}
    <p class="p-1">Nunca usar plásticos de un solo uso (ej: Cubiertos de plástico desechables, bolsas y envases plásticos desechables, etc.)</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[3]] == 4 %}
    <p class="p-1">Comprar pocas cosas pero que sean duraderos</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[3]] == 5 %}
    <p class="p-1"></p>
    {% endif %}
  {% endif %}

  {% if keyTresTareaMenores[3] == 'NivelRecursos' %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[3]] == 1 %}
    <p class="p-1">Intenta no derrochar electricidad (ej: Mantener las luces y/o televisor apagadas, etc)</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[3]] == 2 %}
    <p class="p-1">Intenta no derrochar agua (ej: Rejar de noche o en las tardes, Duchas cortas, etc)</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[3]] == 3 %}
    <p class="p-1">Comprar productos electricos más eficientes</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[3]] == 4 %}
    <p class="p-1">Reutilizar el agua</p>
    {% endif %}
    {% if NivelesOrdenadosPorMenor[keyTresTareaMenores[3]] == 5 %}
    <p class="p-1"></p>
    {% endif %}
  {% endif %}

</label>

{% endblock %}
